
<header>
<div class="container">
<div class="row hidden-phone">
	<span class="header_social"><a href="#">EN &#160;</a> <!--<a href="#">FR</a> <a href="#">JP</a>&#160; --> | <a class="flip" href="#">Contact</a></span>
</div>
<div class="row">
<div class="col-md-4 logo">
	<h1 class="title"><span class="logo"></span><a href="/">Map<span>Mint</span></a></h1>
</div>
<div class="col-md-8">
<nav id="main-nav">
	<ul id="menu2">
		<li ><a href="/../../en/homepage" >Home</a></li>
		<li><a href="#">About</a>
			<ul>
<!-- Tour -->
				<li><a href="/../../en/tour">Tour</a></li>
<!-- Modules -->
				<li><a href="/../../en/modules">Modules</a></li>
<!-- Documentation -->
				<li ><a href="http://mapmint.github.io/userguide-fr/en/" target="_blank">Documentation</a></li>
                        </ul>
		</li>
		<li><a href="#">Architecture</a>
			<ul>
<!-- Overview -->
				<li><a href="/../../en/overview">Overview</a></li>
<!-- Components -->
				<li><a href="/../../en/Components">Components</a></li>
                        </ul>
		</li>
				<li ><a href="https://github.com/mapmint" target="_blank">Ressources</a></li>
		<li ><a href="/../../en/Plans" >Plans</a></li>
	</ul>
</nav>
</div>
</div>
</div>
</header>