{{ define "main" }}
<div class="gray_bg">
    <div class="container">
        <div class="row welcome">
            <div class="span12">
                <h1 class="msg">The best of <span class="colored">open source</span> geospatial.</h1>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container inner_content">
        <section>
            <div class="row">
            
                <div class="col-md-6">
                    <h2>Server-side</h2>
                    <hr class="dash">
                    <div class="intro">
                        <p style="margin:20px 0 20px 0;font-size:1.2em"><span class="colored">A reliable C core driven by a collection of WPS services written in Python.</span></p>
                    </div>
                    <hr class="dash intro">
                    
                    
                    <div class="about_icons pull-left">
                        <img src="../../images/zoo-logo-green.png" />
                    </div>
                    <div>
                        <h3>ZOO-Project</h3>
                        <p>The <a href="http://zoo-project.org' target="_blank>Open WPS Platform</a> is the cornerstone of <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a>. Its advanced WPS engine orchestrates our innovative 100% service-oriented architecture. Every functionnality is made available by a WPS service, which often interacts with WMS and WFS.</p>
                    </div>
                    <div class="clearfix"></div>
                    
                    
                    <div class="about_icons pull-left">
                        <img src="../../images/ms-logo-green.png" />
                    </div>
                    <div>
                        <h3>MapServer</h3>
                        <p>The famous and fastest <a href="http://mapserver.org" target="_blank"> WMS/WFS Server</a> is included and extended into <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a>. Every single mapfile parameters is supported, and <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a> will write them for you at the speed of light. Don't loose time to code maps, just create them brightly. </p>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="about_icons pull-left">
                        <img src="../../images/gdal-logo-green.png" />
                    </div>
                    <div>
                        <h3>GDAL</h3>
                        <p>The open source geospatial <a href="http://gdal.org" target="_blank">Swiss Army Knife</a> is massively used into <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a> and allows to support numerous GIS formats. The GDAL and OGR utilities are made available with simple tools and forms and executed through WPS requests.</p>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="about_icons pull-left">
                        <img src="../../images/lo-logo-green.png" />
                    </div>
                    <div>
                        <h3>LibreOffice</h3>
                        <p>Started in server mode, the <a href="https://www.libreoffice.org/" target="_blank"> Free Office Suite</a> is used to export maps and reports (maps, graphs, tables...) as Open Documents and PDF. Learn more about the advanced functionnalities provided by our innovative <a href=" http://mapmint.com" class="mm">Paper<span>Mint</span></a> python API.</p>
                    </div>
                    <div class="clearfix"></div>
                   </div> 
          
                <div class="col-md-6">     
                 <h2>Client-side</h2>
                    <hr class="dash">
                    <div class="intro">
                         <p style="margin:20px 0 20px 0;font-size:1.2em"><span class="colored">Modern user experiences and interfaces built with Bootstrap, HTML5 and CSS3. </span></p>
                    </div>
                    <hr class="dash intro">
                    <div class="about_icons pull-left">
                        <img src="../../images/ol-logo-green.png" />
                    </div>
                    <div>
                        <h3>OpenLayers</h3>
                        <p>The popular <a href="http://openalyers.org" target="_blank"> Javascript Webmapping Library</a> is the foundation of every mapping interfaces into <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a>. Tightly coupled with Jquery, it provides fast and advanced functionnalities as well as modern cartographic experiences.</p>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="about_icons pull-left">
                        <img src="../../images/jq-logo-green.png" />
                    </div>
                    <div>
                        <h3>Bootstrap and Jquery</h3>
                        <p>The famous <a href="http://jquery.com" target="_blank"> Write Less Do More</a> Javascript library automates and animates the <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a> user interfaces and experiences, in both the admin and the user sides. By the way, most of our <i>ajax()</i> calls are requesting other  WPS, WFS and WMS services. </p>
                    </div>
                    <div class="clearfix"></div>

<div class="about_icons pull-left">
                        <img src="../../images/html5-logo-green.png" />
                    </div>
                    <div>
                        <h3>HTML5</h3>
                        <p>HTML5 may be the <a href="http://www.w3schools.com/cert/cert_html5.asp" target="_blank">Future of the Web</a>, but it is already <b>Present</b> for <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a>. All our webmapping applications are made out of modern and responsive markup. Take full advantage of HTML5 power for every map you will create.</p>
                    </div>
<div class="clearfix"></div>

<div class="about_icons pull-left">
                        <img src="../../images/css3-logo-green.png" />
                    </div>
                    <div>
                        <h3>CSS3</h3>
                        <p><a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a> allows to create beautiful maps. Our <a href="http://www.w3.org/Style/CSS/" target="_blank">CSS</a> and <a href="http://www.w3.org/TR/CSS/#css3" target="_blank">CSS3</a> technics make them even more good looking, through customized layouts including awesome colors, gradients, fonts and more. Every UI can easily be adapted to your look and feel.</p>
                    </div>


                </div>
            </div>
        </section>
</div>

<section class="nm">

<div class="green_bg">

<div class="container">

<div class="row welcome_inner">

<div class="span12">

<h1 class="title"><span class="logo"></span><a href="./Home">Map<span class="mmw">Mint</span></a> is compliant to <span class="mmw">Open Standards</span><p></p></h1>

</div>

</div>

</div>

</div>

<div class="container inner_content">
    
        <section>
            <div class="row">
            <div class="span12">
                <h2>Optional softwares</h2>
                <hr class="dash">
                <div class="intro">
                    <p style="margin-bottom:10px;font-size:1.2em"><span>Various open source softwares and libraries can commnicate with MapMint and make it even more awesome. Here are the one we already worked with.</span></p>
                </div>
                <hr class="dash">
                <div class="well">
         <ul class="popt">
                    <li class="dk pg"><a href="http://postgis.org" target="_blank"><h3>PostGIS</h3><center><span class="ipg"><span></center>The spatial database extender for PostgreSQL object-relational database is often used for large MapMint projects.</span></a></li>

<li class="dk rd"><a href="https://www.orfeo-toolbox.org/" target="_blank"><h3>OrfeoToolBox</h3><center><span class="ras"><span></center>To integrate within MapMint the state-of-the-art remote sensing software.</span></a></li>

<li class="dk gr"><a href="http://grass.osgeo.org" target="_blank"><h3>GRASS GIS</h3><center><span class="gra"><span></center>The geographic resources analysis support system can be used along with MapMint for advanced WPS functionnalities.</span></a></li>

<li class="dk rp"><a href="http://www.r-project.org/" target="_blank"><h3>R Project</h3><center><span class="rst"><span></center>The R library can be added to MapMint to provide advanced statistical and graphical functionnalities.</span></a></li>

<li class="dk cg"><a href="http://www.cgal.org/" target="_blank"><h3>CGAL</h3><center><span class="cga"><span></center>The CGAL library can be used with MapMint to provide additional efficient and reliable geometry algorithms.</span></a></li>
            </div>
            
            <p style="margin-bottom:10px;font-size:1.1em"><a href="#" onclick="opCont();">Contact us</a> with any question about using these optional software along with  <a href=" http://mapmint.com" class="mm">Map<span>Mint</span></a>.</p>

        </div>
        </section>
    
    <div class="row">
        <div class="span12">
            <hr style="margin-bottom:0px; margin-top:40px;">
        </div>
    </div>
    
</section>
</div>    	

<div id="map6"></div>
      
</div>
{{ end }}

{{ define "scripts" }}
<script>
    function sendmail(){
     var query=new Array();
     $('.field').each(function(){
        $(this).find('input').each(function(){
          if(this.id && $(this).val()!="")
          query.push({name: this.id, value: $(this).val(), dataType: "string"});
        });
        $(this).find('textarea').each(function(){
          if($(this).val()!="")
          query.push({name: this.id, value: $(this).val(), dataType: "string"});
        });
     });
     var fQuery=WPSGetHeader("mail")+WPSGetInputs(query)+WPSGetOutput({name: "Result"})+WPSGetFooter();
     $.ajax({
      url: "/cgi-bin/zoo_loader.cgi",
      data: fQuery,
      type: "POST",
      contentType: 'text/xml',
      complete: function(xml,status){
        if(status=="success")
          checkWPSResult(xml);
      }
     });
    }
    
    function checkWPSResult(xml){
      if(xml.responseXML){
        var tmp=$(xml.responseXML).find("ows\\:ExceptionText").text();
        if(tmp=="")
        tmp=$(xml.responseXML).find("ExceptionText").text();
        if(tmp!=""){
          $(".error").css({"display": "block"});
          $(".error").fadeOut(5000,function() {$(this).css({"display": "none"});})
          return false;
        }
        else{
          $(".success").css({"display": "block"});
          $(".success").fadeOut(5000,function() {$(this).css({"display": "none"});})
          return true;
        }
      }
    }
    
    function WPSGetHeader(name){
      return '<wps:Execute service="WPS" version="1.0.0" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ../wpsExecute_request.xsd"><ows:Identifier>'+name+'</ows:Identifier>';
    }
    
    function WPSGetFooter(){
      return "</wps:Execute>";
    }
    
    function WPSGetInputs(obj){
      var inputs="";
      for(var i=0;i<obj.length;i++){
        inputs+=WPSGetInput(obj[i]);
      }
      return '<wps:DataInputs>'+inputs+'</wps:DataInputs>';
    }
    
    function WPSGetInput(obj){
      if(obj.dataType)
        return WPSGetLiteralInput(obj);
      else
        return WPSGetComplexInput(obj);
    }
    
    function WPSGetLiteralInput(obj){
      return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:LiteralData><![CDATA['+obj.value+']]></wps:LiteralData></wps:Data></wps:Input>';
    }
    
    function WPSGetComplexInput(obj){
      return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:ComplexData mimeType="'+(obj.mimeType?obj.mimeType:"text/xml")+'">'+obj.value+'</wps:ComplexData></wps:Data></wps:Input>';
    }
    
    function WPSGetOutput(obj){
      return '<wps:ResponseForm><wps:ResponseDocument '+((obj.mimeType)?'mimeType="'+obj.mimeType+'"':"")+'><wps:Output><ows:Identifier>'+obj.name+'</ows:Identifier></wps:Output></wps:ResponseDocument></wps:ResponseForm>';
    }
    
    </script>
{{ end }}