{{ define "main" }}
 <div class="gray_bg">
        <div class="container">
            <div class="row welcome">
                <div class="col-md-12">
                    <h1 class="msg">Generate <span class="colored">Web GIS</span>, and <span class="colored">more</span>.</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider_areagd">
         <div class="container">
               <div class="reveal">

			<div class="slides">
				<section>
					<a href="#" class="mdm"><img src="../../images/dashboard.jpg" class="stretch" alt="Dashboard Module" width="800" height="400" /></a>
					<h3>The Map<span class="colored">Mint</span> Dashboard module</h3>
				</section>

				<section>
                                     <a href="#" class="mda"><img src="../../images/distiller.jpg" class="stretch" alt="Distiller Module" width="800" height="400" /></a>
					<h3>The Map<span class="colored">Mint</span> Data module</h3>
					
				</section>

				<section>
                                     <a href="#" class="mmm"><img src="../../images/manager.jpg" class="stretch" alt="Manager Module" width="800" height="400" /></a>
					<h3>The Map<span class="colored">Mint</span> Maps module</h3>
					
				</section>

				<section>
                                     <a href="#" class="mpm"><img src="../../images/publisher.jpg" class="stretch" alt="Apps Module" width="800" height="400" /></a>
					<h3>The Map<span class="colored">Mint</span> Apps module</h3>
					
				</section>

			</div>
		</div>
</div>

<div class="sub_slider_area">
 <div class="container">
  <div class="row">

  		<div class="col-md-6 mdmb">
  			<h1 class="bigw">Dashboard</h1>
<div id="box2">
 <div class="shd"><p>The <b>Dashboard</b> module allows the <a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> administrator to oversee and control their spatial data infrastructure, with the following utilities:</p> <ul class="lst"> <li class="chrt">Advanced geospatial analytics</li> <li class="xser">WPS, WMS, WFS, WCS and WMTS auto setup</li> <li class="usei">Users and groups management</li> <li class="chrt"></li> </ul></div>
</div>
</div>
<div class="col-md-6 mtp">
<h2 class="tsh">Features</h2>
<p>SDI analytics (per protocol, standard, web service, group, user)</p>
<p>SDI statistics (volume of data, cache, mapfiles...)</p>
<p>Automatic server configuration (WPS, WCS, WFS, WMS, WMTS)<p>
<p>General content and metadata configuration</p>
<p>User and groups management (super admin, admin, public...)</p>
<p>Direct access to recently created maps and projects.</p>
</div>	
</div>
</div>
</div>


<div class="sub_sub_slider_area">
 <div class="container">
  <div class="row">


<div class="col-md-6 mdab" >
<h1 class="bigd">Data</h1>
<div id="box2">
 <div class="shd"><p>The <b>Data</b> module allows the <a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> user to create data stores from local or remote data sources. Transform and easily prepare your GIS data for the web.</p><ul class="lst"> <li class="dbs">+100 GIS data formats supported </li> <li class="crsv">Convert, reproject, encode and query vector data </li> <li class="crs">Convert, reproject and process raster data</li>
</ul></div>
</div>
</div>

<div class="col-md-6 mtp">
<h2 class="tsh">Features</h2>
<p>4 types of datastores (directories, databases, wfs, wms)</p>
<p>100+ GDAL/OGR formats supported</p>
<p>Automatic WMS and WFS publishing with security options</p>
<p>Vector processing tools (ogrinfo, ogr2ogr, sql, simplify...)</p>
<p>Raster processing tools (gdaltindex, gdal_translate, gdaldem...)</p>
<p>Georeferencing tool (gdalwarp).</p>
<p>OrfeoToolBox and SAGA-GIS support</p>
<p>Generate tiles using MapCache</p>
</div>	
</div>	
</div>
</div>


<div class="sub_slider_area">
 <div class="container">
  <div class="row">

<div class="col-md-6 mmmb">
<h1 class="bigw">Maps</h1>
<div id="box2">
 <div class="shd"><p>The <b>Maps</b> module is the heart of the <a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> platform. It is a complete graphical user interface for <a href="http://mapserver.org" target="_blank">MapServer</a> allowing the users to create mapfiles visually. What you see is what you get.</p> 
<ul class="lst">
 <li class="projm">Powerful mapfile-based project manager</li>
 <li class="laym">Advanced layer manager, editor and styler</li>
 <li class="blcre">Create base layers form your data</li>
 </ul>
</div>
</div>
</div>
<div class="col-md-6 mtp">
<h2 class="tsh">Features</h2>
<p>Compose maps and save them as mapfiles<p>
<p>Manage layers and groups by drag and drop</p>
<p>Edit layers order, properties and scales</p>
<p>Classify and discretize vector data</p>
<p>Configure symbols and fonts</p>
<p>Create base layers with vector/raster data.</p>
</div>	
</div>
</div>
</div>

<div class="sub_sub_slider_area">
 <div class="container">
  <div class="row">

<div class="col-md-6 mpmb">
  <h1 class="bigd">Apps</h1>
<div id="box2">
 <div class="shd"><p>The <b>Apps</b> module allows the <a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> user to create data stores from local or remote data sources.</p>
 <ul class="lst">
 <li class="tmpl">Choose a map application template</li>
 <li class="gear">Select 30+ client-side webmapping functionalities or create your own module</li>
 <li class="pint">Customize your maps look and feel !</li>
 </ul>
</div>
</div>
</div>

<div class="col-md-6 mtp">
<h2 class="tsh">Features</h2>
<p>Growing web map templates collection</p>
<p>Set map title, description and metatags</p>
<p>Set map default extents and display projection<p>
<p>Select your own or third-party base layers</p>
<p>Select functionalities and customize toolbars</p>
<p>Easy customization of web map templates for both desktop and mobile.</p>
<p>Dedicated mobile client MapMint4ME.</p>
</div>	
</div>
</div>	
</div>

<div id="map6"></div>
</div>
{{ end }}

{{ define "scripts" }}
<script>
function sendmail(){
 var query=new Array();
 $('.field').each(function(){
    $(this).find('input').each(function(){
      if(this.id && $(this).val()!="")
      query.push({name: this.id, value: $(this).val(), dataType: "string"});
    });
    $(this).find('textarea').each(function(){
      if($(this).val()!="")
      query.push({name: this.id, value: $(this).val(), dataType: "string"});
    });
 });
 var fQuery=WPSGetHeader("mail")+WPSGetInputs(query)+WPSGetOutput({name: "Result"})+WPSGetFooter();
 $.ajax({
  url: "/cgi-bin/zoo_loader.cgi",
  data: fQuery,
  type: "POST",
  contentType: 'text/xml',
  complete: function(xml,status){
    if(status=="success")
      checkWPSResult(xml);
  }
 });
}

function checkWPSResult(xml){
  if(xml.responseXML){
    var tmp=$(xml.responseXML).find("ows\\:ExceptionText").text();
    if(tmp=="")
	tmp=$(xml.responseXML).find("ExceptionText").text();
    if(tmp!=""){
      $(".error").css({"display": "block"});
      $(".error").fadeOut(5000,function() {$(this).css({"display": "none"});})
      return false;
    }
    else{
      $(".success").css({"display": "block"});
      $(".success").fadeOut(5000,function() {$(this).css({"display": "none"});})
      return true;
    }
  }
}

function WPSGetHeader(name){
  return '<wps:Execute service="WPS" version="1.0.0" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ../wpsExecute_request.xsd"><ows:Identifier>'+name+'</ows:Identifier>';
}

function WPSGetFooter(){
  return "</wps:Execute>";
}

function WPSGetInputs(obj){
  var inputs="";
  for(var i=0;i<obj.length;i++){
    inputs+=WPSGetInput(obj[i]);
  }
  return '<wps:DataInputs>'+inputs+'</wps:DataInputs>';
}

function WPSGetInput(obj){
  if(obj.dataType)
    return WPSGetLiteralInput(obj);
  else
    return WPSGetComplexInput(obj);
}

function WPSGetLiteralInput(obj){
  return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:LiteralData><![CDATA['+obj.value+']]></wps:LiteralData></wps:Data></wps:Input>';
}

function WPSGetComplexInput(obj){
  return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:ComplexData mimeType="'+(obj.mimeType?obj.mimeType:"text/xml")+'">'+obj.value+'</wps:ComplexData></wps:Data></wps:Input>';
}

function WPSGetOutput(obj){
  return '<wps:ResponseForm><wps:ResponseDocument '+((obj.mimeType)?'mimeType="'+obj.mimeType+'"':"")+'><wps:Output><ows:Identifier>'+obj.name+'</ows:Identifier></wps:Output></wps:ResponseDocument></wps:ResponseForm>';
}

</script>
{{ end }}