{{ define "main" }}
<div class="gray_bg">
    <div class="container">
        <div class="row welcome">
            <div class="col-md-12">
                <h1 class="msg">100% <span class="colored">service</span>  oriented.</h1>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="slider_area" id="map2">

    <div class="container">
    
    <div id="mapscroll">
            <img src="../../images/osmb.png" />
            <img src="../../images/mqo.png" />    
            <img src="../../images/gmap.png" />
            <img src="../../images/gphy.png" />
            <img src="../../images/stam.png" />
            <img src="../../images/gsat.png" />
    </div>
            <div class="inimess2">

            <div class="tagcloud"> 
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 3.2em;">shp</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 2.8em;">postgis</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 2.5em;">kml</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 3.3em;">wfs</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 2.7em;">json</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 2em;">csv</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 1.9em;">tiff</a>
         <a href="http://www.mapmint.com" title="MapMint" style="font-size: 1.6em;">jpg</a>
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 1.9em;">jp2</a> 
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 1.9em;">ecw</a>  
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 1.9em;">wms</a> 
        <a href="http://www.mapmint.com" title="MapMint" style="font-size: 3em;">osm</a>

<div class="c"></div>
            </div>
    </div>
    
    <div class="ogcloud"> 
        <div class="a">
        <a href="http://www.mapmint.com" title="MapMint">WMS</a>
        <a href="http://www.mapmint.com" title="MapMint">WMTS</a>
        <a href="http://www.mapmint.com" title="MapMint">WFS</a>
        </div>
        <div class="b"></div>
    </div>
    
    <div class="wploud"> 
          <div id='warped'>
                 <span class='w0'>W</span><span class='w1'>P</span><span class='w2'>S</span><span class='w3'> </span><span class='w4'>W</span><span class='w5'>P</span><span class='w6'>S</span><span class='w7'> </span><span class='w8'>W</span><span class='w9'>P</span><span class='w10'>S</span><span class='w11'> </span>
          </div>
    </div>

<img src="../../images/zoo-project-logo-green.png" class="zoo" />
<div class="clouds"></div>			
<div class="anim2">
<img class="sun" src="../../images/sunrayz.png" />
<a href="#" class="msgreen"><span class="msdesc">Save your projects as mapfiles</span></a>
<a href="#" class="gdgreen"><span class="gddesc">Process your GIS data online</span></a>
<a href="#" class="olgreen"><span class="oldesc">Configure webmapping applications</span></a>
<a href="#" class="jqgreen"><span class="jqdesc">Publish and share your maps</span></a>
</div>



</div>

<ul id="scroller">
<li><img src="../../images/osmb.png" width="100" height="70" alt="OpenStreetMap"></li>
<li><img src="../../images/mqo.png" width="100" height="70" alt="MapQuest"></li>
<li><img src="../../images/gmap.png" width="100" height="70" alt="Google Maps"></li>
<li><img src="../../images/gphy.png" width="100" height="70" alt="Google Terrain"></li>
<li><img src="../../images/stam.png" width="100" height="70" alt="Stamen Watercolor"></li>
<li><img src="../../images/gsat.png" width="100" height="70" alt="Google Satellite"></li>
</ul>
</div>
</div>

<div class="green_bg">
    <div class="container">
        <div class="row welcome_inner">
            <div class="span12">
                <h1 class="title eip"><span class="mmw">Everything</span></a> is a <span class="mmw">process</span>.</h1>

            </div>
        </div>
    </div>
</div>

<div class="container">
        <hr>
        <div class="row" style="margin-top:25px; margin-bottom:25px;">
            <div class="span12">

                <div class="span12 pyd">
                    <h2>Process your GIS data online</h2>
                    <hr class="dash">
                 </div>
               
               <div class="span12"> 
                    <div class="about_icons pull-left">
                        <img src="../../images/gdal-logo-green.png" />
                    </div>
                    <div>
                    <p></p>
                        <h4><span class="colored-light">The power of GDAL/OGR in a set of generic web services.</span></h4>
                        <p class="undsm"><a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> provides simple tools to process many kinds of GIS data on the Internet.</p>
                        <p>Convert, reproject, process and prepare your spatial data for the web in a few cliks with the <a href="./Modules" class="mm">Data</a> module.</p>
                        <button class="btn" style="float:right;" onclick="goTop();" href="#">Go top</button>
                    </div>
                </div>
             <div class="clearfix"></div>
          </div>
         </div>
                 
                     <hr>
        <div class="row" style="margin-top:25px; margin-bottom:25px;">
            <div class="span12">

                <div class="span12 syp">
                    <h2>Save your projects as mapfiles</h2>
                    <hr class="dash">
                 </div>
               
               <div class="span12"> 
                    <div class="about_icons pull-left">
                        <img src="../../images/ms-logo-green.png" />
                    </div>
                    <div>
                    <p></p>
                        <h4><span class="colored-light">The ultimate administration interface for MapServer.</span></h4>
                        <p class="undsm"><a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> is a complete and reliable WYSIWYG editor for <a href="http://mapserver.org" target="_blank"><b>MapServer</b></a>.</p>
                        <p>Create simple to very advanced MapServer mapfiles visually using the cool tools available in the <a href="./Modules" class="mm">Maps</a> module. </p>
                        <button class="btn" style="float:right;" onclick="goTop();" href="#">Go top</button>
                    </div>
                </div>
             <div class="clearfix"></div>
          </div>
         </div>                     
                 
<hr>
        <div class="row" style="margin-top:25px; margin-bottom:25px;">
            <div class="span12">

                <div class="span12 cwa">
                    <h2>Configure webmapping applications</h2>
                    <hr class="dash">
                 </div>
               
               <div class="span12"> 
                    <div class="about_icons pull-left">
                        <img src="../../images/ol-logo-green.png" />
                    </div>
                    <div>
                    <p></p>
                        <h4><span class="colored-light">Web and web mobile applications</span></h4>
                        <p class="undsm"><a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> lets you configure and publish webmapping applications built on top of <a href="http://openlayers.org" target="_blank"><b>OpenLayers</b></a>.</p>
<p>  Select templates, map appearance and functionalities using the <a href="./Modules" class="mm">Apps</a> module. </p>
                        <button class="btn" style="float:right;" onclick="goTop();" href="#">Go top</button>
                    </div>
                </div>
             <div class="clearfix"></div>
          </div>
         </div>               
         
        <hr>
          <div class="row" style="margin-top:25px; margin-bottom:25px;">
            <div class="span12">

                <div class="span12 psm">
                    <h2>Publish and share your maps</h2>
                    <hr class="dash">
                 </div>
               
               <div class="span12"> 
                    <div class="about_icons pull-left">
                        <img src="../../images/jq-logo-green.png" />
                    </div>
                    <div>
                    <p></p>
                        <h4><span class="colored-light">Modern geoportals and fast web maps</span></h4>
                        <p class="undsm">The <a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> public interface gathers webmapping applications published by users. </p>
                        <p>Customize your geoportal and easily share your best maps on the Internet.</p>
                        <button class="btn" style="float:right;" onclick="goTop();" href="#">Go top</button>
                    </div>
                </div>
             <div class="clearfix"></div>
          </div>
         </div>             
        <hr>
          <div class="row" style="margin-top:25px; margin-bottom:25px;">
            <div class="span12">

                <div class="span12 psm">
                    <h2>Dedicated Mobile Client</h2>
                    <hr class="dash">
                 </div>
               
               <div class="span12"> 
                    <div class="about_icons pull-left">
                        <img src="../../images/mapmint-logo-big.png" width="100" />
                         <p style="color: #fff;    position: relative;    top: -40px;    left: 45px;    font-family: monospace;    font-size: x-large;font-weight:  bold;">4ME</p>
                    </div>
                    <div>
                    <p></p>
                        <h4><span class="colored-light">Native Mobile Application for Monitoring and Evaluation</span></h4>
                        <p class="undsm">The <a href="https://play.google.com/store/apps/details?id=fr.geolabs.dev.mapmint4me&hl=en" class="mm">Map<span>Mint4ME</span></a> allows you to record data on the field with or without internet connection.</p>
                        <p>Upload and visualize your data back on the MapMint server.</p>
                        <button class="btn" style="float:right;" onclick="goTop();" href="#">Go top</button>
                    </div>
                </div>
             <div class="clearfix"></div>
          </div>
         </div>             
</div>

<div class="green_bg os">
<div class="container">
<div class="row welcome_inner">
<div class="col-md-4">
<div class="mmlogo2"></div>
</div>
<div class="col-md-8 ">
<h1 class="bigc">Fast and easy webmapping.</h1>
</div> </div>

</div>



</div>
{{ end }}

{{ define "scripts" }}
<script>
    function sendmail(){
     var query=new Array();
     $('.field').each(function(){
        $(this).find('input').each(function(){
          if(this.id && $(this).val()!="")
          query.push({name: this.id, value: $(this).val(), dataType: "string"});
        });
        $(this).find('textarea').each(function(){
          if($(this).val()!="")
          query.push({name: this.id, value: $(this).val(), dataType: "string"});
        });
     });
     var fQuery=WPSGetHeader("mail")+WPSGetInputs(query)+WPSGetOutput({name: "Result"})+WPSGetFooter();
     $.ajax({
      url: "/cgi-bin/zoo_loader.cgi",
      data: fQuery,
      type: "POST",
      contentType: 'text/xml',
      complete: function(xml,status){
        if(status=="success")
          checkWPSResult(xml);
      }
     });
    }
    
    function checkWPSResult(xml){
      if(xml.responseXML){
        var tmp=$(xml.responseXML).find("ows\\:ExceptionText").text();
        if(tmp=="")
        tmp=$(xml.responseXML).find("ExceptionText").text();
        if(tmp!=""){
          $(".error").css({"display": "block"});
          $(".error").fadeOut(5000,function() {$(this).css({"display": "none"});})
          return false;
        }
        else{
          $(".success").css({"display": "block"});
          $(".success").fadeOut(5000,function() {$(this).css({"display": "none"});})
          return true;
        }
      }
    }
    
    function WPSGetHeader(name){
      return '<wps:Execute service="WPS" version="1.0.0" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ../wpsExecute_request.xsd"><ows:Identifier>'+name+'</ows:Identifier>';
    }
    
    function WPSGetFooter(){
      return "</wps:Execute>";
    }
    
    function WPSGetInputs(obj){
      var inputs="";
      for(var i=0;i<obj.length;i++){
        inputs+=WPSGetInput(obj[i]);
      }
      return '<wps:DataInputs>'+inputs+'</wps:DataInputs>';
    }
    
    function WPSGetInput(obj){
      if(obj.dataType)
        return WPSGetLiteralInput(obj);
      else
        return WPSGetComplexInput(obj);
    }
    
    function WPSGetLiteralInput(obj){
      return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:LiteralData><![CDATA['+obj.value+']]></wps:LiteralData></wps:Data></wps:Input>';
    }
    
    function WPSGetComplexInput(obj){
      return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:ComplexData mimeType="'+(obj.mimeType?obj.mimeType:"text/xml")+'">'+obj.value+'</wps:ComplexData></wps:Data></wps:Input>';
    }
    
    function WPSGetOutput(obj){
      return '<wps:ResponseForm><wps:ResponseDocument '+((obj.mimeType)?'mimeType="'+obj.mimeType+'"':"")+'><wps:Output><ows:Identifier>'+obj.name+'</ows:Identifier></wps:Output></wps:ResponseDocument></wps:ResponseForm>';
    }
    
    </script>
{{ end }}