{{ define "main" }}
<div class="gray_bg">
    <div class="container">
        <div class="row welcome">
            <div class="col-sm-12">
                <h1 class="msg">Open source<span class="colored"> geospatial</span> for everyone.</h1>
                <p></p>
            </div>
        </div>
    </div>
</div>


<div class="container  inner_content">
<div class="row">
<div class="col-md-3"> </div>
<div class="col-md-9">
<p style="margin-top: 20px; font-size: 20px">Community edition available at <span style="font-size: 45px;">0€</span> with online documentation to guide you through the installation procedure. Community support provided through public mailing list.<p>
<p style="margin-top: 20px; font-size: 20px"><b>Paid support plans are available as listed below.</b></p>
</div>
</div>
<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-3">
   <div>
                    <h2>Why <a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> ?</h2>
  </div>
                    <hr class="dash mt">
                    <img src="../../images/happy.png" class="pull-left" />
                    <h4>Fast and easy to use</h4>
                    <p><a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> is designed to help people publish web maps easily.</p>
                    <hr class="dash">
                    <img src="../../images/tool.png" class="pull-left" />
                    <h4>Highly customizable</h4>
                    <p><a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> provides many features to publish maps in minutes.</p>
                    <hr class="dash">
                    <img src="../../images/univ.png" class="pull-left" />
                    <h4>Standards-compliant</h4>
                    <p><a href="http://mapmint.com" class="mm">Map<span>Mint</span></a> implements geospatial and web standards.</p>
                    <div class="clearfix"></div>           
 </div>
 <div class="col-xs-12 col-sm-6 col-md-9"    id="pricing-table">
 <div class="col-md-3 col-sm-6 col-xs-12 plan plan1 ">
  <div class="header">Basic</div>
    <div class="price">100€<a href="#discount"><i class="glyphicon glyphicon-asterisk" style="font-size: 18px;top:-15px"></i></a></div>
    <div class="monthly"> per month</div>  
    <ul>
        <li>1 GNU/Linux virtual machine</li>
        <li>30 GB of disk space</li>
        <li>Email support</li>			
    </ul>
    <a class="signup wyg" href="#wdyg">More</a>            
 </div>
 <div class="col-md-4 col-sm-6 col-xs-12 plan plan1 ">
    <div class="header">Professional</div>
    <div class="price">300€<a href="#discount"><i class="glyphicon glyphicon-asterisk" style="font-size: 18px;top:-15px"></i></a></div>
    <div class="monthly"> per month </div>
    <ul>
        <li>1 GNU/Linux virtual machine</li>
        <li>100GB of disk space</li>
        <li>Email and phone support (working hours/5)</li>			
    </ul>
    <a class="signup wyg" href="#wdyg">More</a>       
 </div>
 <div class="col-md-4 col-sm-6 col-xs-12 plan plan1  ">
    <div class="header">Enterprise</div>
    <div class="price">1000€<a href="#discount"><i class="glyphicon glyphicon-asterisk" style="font-size: 18px;top:-15px"></i></a></div>
    <div class="monthly">per month</div>
    <ul>
        <li>6 GNU/Linux virtual machines</li>
        <li>1 TB of disk space</li>			
        <li>Email and phone support (24/7)</li>			
    </ul>
    <a class="signup wyg" href="#wdyg">More</a>
 </div>
 </div>
</div>

<div class="row">

<div class="col-md-3"> 
<h2>And more ....</h2>
<div class="clearfix"></div>           
</div>

<div class="col-md-9 pricing-table">

<div class="col-md-3 plan plan1" >
<div class="header"><center>Your Server</center></div>
<div class="price"><center>500€<a href="#discount"><i class="glyphicon glyphicon-asterisk" style="font-size: 18px;top:-15px"></i></a></center></div>
<div class="monthly"><center>for installation</center></div>
<p style="font-size: 20px">Installation on your server (post installation maintenance not included).</p>
<p style="font-size: 20px">For annual maintenance contract please <a href="#" onclick="opCont();"><span class="mb">contact us</span></a>.</p>
</div>

<div class="col-md-4 plan plan1" >
<div class="header"><center>Training</center></div>
<div class="price"><center>400€<a href="#discount"><i class="glyphicon glyphicon-asterisk" style="font-size: 18px;top:-15px"></i></a></center></div>
<div class="monthly"><center>per day</center></div>
<p style="font-size: 20px">One day online introductory workshop.</p>
<p style="font-size: 20px">Online professionally assisted training (minimum of 3 days).</p>
<p style="font-size: 20px">For on-site tailored training please <a href="#" onclick="opCont();"><span class="mb">contact us</span></a> with your requirements.</p>
</div>

<div class="col-md-4 plan plan1" >
<div class="header"><center>Developer support</center></div>
<p style="font-size: 20px">Paid support for feature additions & customization.</p>
<p style="font-size: 20px">Technology transfer for embedding WPS in your software. </p>
<p style="font-size: 20px">High Performance Computing (HPC) and cloud deployment support.</p>
<p style="font-size: 20px">Please <a href="#" onclick="opCont();"><span class="mb">contact us</span></a> with your requirements and ideas.</p>
</div>



</div>

</div>

<div class="row">
<div class="col-md-3"> </div>
<div class="col-md-9" id="discount">
<p style="margin-top: 20px; font-size: 16px;font-style: italic"><i class="glyphicon glyphicon-asterisk"></i>We offer attractive discounts for Academic Institutions, Non-Profits and end-clients from low-income and lower-middle-income economies (see <a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups" target="_blank">ref.</a>).<p>
</div>
</div>

</div>


  <div class=" col-xs-12 green_bg">
    <div class="container">
        <div class="row welcome_inner">
           <div class="span12">
                <h1 class="title"><span class="mmw">Commercially</span> supported <span class="mmw">open source</span> platform</h1>
            </div>   
           </div>
        </div>
    </div>

<div class="container inner_content det">       
        <section>
            <div class="row">
            <div class="span12" id="wdyg">
                <h2>What do you get ?</h2>
                <hr class="dash">
                <div class="intro">
                    <p style="margin:20px 0 20px 0;font-size:1.2em">
There is a <a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> for every need. Feel free to <a href="#" onclick="opCont();"><span class="mb">contact us</span></a> and we will advice you on the best configuration for your projects.</p>
                </div>
                <hr class="dash">
                       <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th><span class="colored">Basic</span></th>
        <th><span class="colored">Professional</span></th>
        <th><span class="colored">Enterprise</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bld"><a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> updates</td>
        <td ><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld"><a href="​http://mapmint.com" class="mm">Map<span>Mint</span></a> user guide</td>
        <td ><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld">Server infrastructure</td>
        <td>Shared server: <br/> 1 Virtual machine <br />(8GB RAM, 2 CPU)</td>
        <td>Shared server: <br/> 1 Virtual machine <br />(16GB RAM, 4 CPU)</td>
        <td>Dedicated server: <br/> 256G RAM, 2 Xeon 20c/40t <br />hosting 6 virtual machine </td>
      </tr>
      <tr>
        <td class="bld">Operating system</td>
        <td>any GNU/Linux</td>
        <td>any GNU/Linux</td>
        <td>any GNU/Linux</td>
      </tr>
      <tr>
        <td class="bld">Server maintenance</td>
        <td ><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld">Server analytics</td>
        <td ><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld">SDI analytics</td>
        <td ><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
      <tr>
        <td class="bld">FTP accounts</td>
        <td >1</td>
        <td>1</td>
        <td>no limit</td>
      </tr>
      <tr>
        <td class="bld">VPN access</td>
        <td ><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld">Load balancing</td>
        <td><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld">Monitoring</td>
        <td><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i></td>
      </tr>
      <tr>
        <td class="bld">Bug tracking / fixing <br/>Email support</td>
        <td ><i class="glyphicon glyphicon-ok"> </i><br/> (response time 10 working days)</td>
        <td><i class="glyphicon glyphicon-ok"> </i><br/> (response time 5 working days)</td>
        <td><i class="glyphicon glyphicon-ok"> </i><br/> (response time 48 hours)</td>
      </tr>
       <tr>
        <td class="bld">Phone support<br/> (French/English)</td>
        <td ><i class="glyphicon glyphicon-remove"> </i></td>
        <td><i class="glyphicon glyphicon-ok"> </i><br/> (maximum 2hr/month)</td>
        <td><i class="glyphicon glyphicon-ok"> </i><br/> (maximum 6hr/month)</td>
      </tr>

    </tbody>
  </table>                

        </div>
        </section>
    

        
        
</div>
<!--/MAIN CONTENT AREA-->


       <div class="green_bg os">
    <div class="container">
        <div class="row welcome_inner">
            
           <div class="col-md-4">
<center>
                <h1 class="title"><span class="logo"></span><a href="http://mapmint.com">Map<span class="mmw">Mint</span></a></h1>
                <h4 class="tw">Download Community Edition</h4>

<a class="" style="margin: 20px 0 0 0" href="http://sourceforge.net/projects/mapmintvm/" target="_blank"><img src="../../img/icon-sf.png" width="80" height="80" /></a>
<a class="" style="margin: 20px 0 0 20px" href="https://github.com/mapmint/mapmint/" target="_blank"><img src="../../img/icon-gh.png" width="80" height="80" /></a>
</center>
</div>
            
            <div class="col-md-8 "> 

<h1 class="title"><span class="mmw">We support geospatial<img src="../../images/osi.png" width="100" height="86" alt="opensource" /> !</span></h1>

<table style="margin:40px 0 0 0;width:80%;">
<tr>
<td><a href="http://zoo-project.org" target="_blank"><img src="../../images/zoo-logo-green.png" /></a></td>
<td><a href="http://mapserver.org" target="_blank"><img src="../../images/ms-logo-green.png" /></a></td>
<td><a href="http://gdal.org" target="_blank"><img src="../../images/gdal-logo-green.png" /></a></td>
<td><a href="http://openlayers.org" target="_blank"><img src="../../images/ol-logo-green.png" /></a></td>
</tr>
</table>

</div> 
</div>
        </div>

<div id="map4"></div>
    </div> 
{{ end }}

{{ define "scripts" }}
<script>
    function sendmail(){
     var query=new Array();
     $('.field').each(function(){
        $(this).find('input').each(function(){
          if(this.id && $(this).val()!="")
          query.push({name: this.id, value: $(this).val(), dataType: "string"});
        });
        $(this).find('textarea').each(function(){
          if($(this).val()!="")
          query.push({name: this.id, value: $(this).val(), dataType: "string"});
        });
     });
     var fQuery=WPSGetHeader("mail")+WPSGetInputs(query)+WPSGetOutput({name: "Result"})+WPSGetFooter();
     $.ajax({
      url: "/cgi-bin/zoo_loader.cgi",
      data: fQuery,
      type: "POST",
      contentType: 'text/xml',
      complete: function(xml,status){
        if(status=="success")
          checkWPSResult(xml);
      }
     });
    }
    
    function checkWPSResult(xml){
      if(xml.responseXML){
        var tmp=$(xml.responseXML).find("ows\\:ExceptionText").text();
        if(tmp=="")
        tmp=$(xml.responseXML).find("ExceptionText").text();
        if(tmp!=""){
          $(".error").css({"display": "block"});
          $(".error").fadeOut(5000,function() {$(this).css({"display": "none"});})
          return false;
        }
        else{
          $(".success").css({"display": "block"});
          $(".success").fadeOut(5000,function() {$(this).css({"display": "none"});})
          return true;
        }
      }
    }
    
    function WPSGetHeader(name){
      return '<wps:Execute service="WPS" version="1.0.0" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ../wpsExecute_request.xsd"><ows:Identifier>'+name+'</ows:Identifier>';
    }
    
    function WPSGetFooter(){
      return "</wps:Execute>";
    }
    
    function WPSGetInputs(obj){
      var inputs="";
      for(var i=0;i<obj.length;i++){
        inputs+=WPSGetInput(obj[i]);
      }
      return '<wps:DataInputs>'+inputs+'</wps:DataInputs>';
    }
    
    function WPSGetInput(obj){
      if(obj.dataType)
        return WPSGetLiteralInput(obj);
      else
        return WPSGetComplexInput(obj);
    }
    
    function WPSGetLiteralInput(obj){
      return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:LiteralData><![CDATA['+obj.value+']]></wps:LiteralData></wps:Data></wps:Input>';
    }
    
    function WPSGetComplexInput(obj){
      return '<wps:Input><ows:Identifier>'+obj.name+'</ows:Identifier><wps:Data><wps:ComplexData mimeType="'+(obj.mimeType?obj.mimeType:"text/xml")+'">'+obj.value+'</wps:ComplexData></wps:Data></wps:Input>';
    }
    
    function WPSGetOutput(obj){
      return '<wps:ResponseForm><wps:ResponseDocument '+((obj.mimeType)?'mimeType="'+obj.mimeType+'"':"")+'><wps:Output><ows:Identifier>'+obj.name+'</ows:Identifier></wps:Output></wps:ResponseDocument></wps:ResponseForm>';
    }
    
    </script>
{{ end }}